/*TESTING*/

.testing{
    background-color: red;
    height:30rem;
    margin:1%;
    
}


/*Body */

.fontSecondary{
    font-family: 'Noto Serif KR', serif;
}

.make-italic{
    font-style: italic;
}

/*
Green:
primary color: #ff7626

Orange:
primary color: #ff7626
*/
.btn-success{
    background: #ff7626;
    border-color: #ff7626;
}
.grow
{
    transition: all .2s ease-in-out;
}

.grow:hover
{
    transform: scale(1.1);
}

.book-btn
{
    height:70px;
    width:200px;
    border-radius:50px;
    font-size:25px;
}

.book-btn:hover
{
    background-color: transparent;
    border-color:#ff7626;
    color:#ff7626;
}

.display-3
{
    font-size:50px;
    font-weight:350;
    
}

.divide
{
    margin-top:2%
}

/*Nav */
.navbar
{
    background: #ff7626;
}

.HTNav
{
    font-size:18px;
    color:white;
}

.nav-active
{
    text-decoration: underline;
}

.nav-inactive:hover
{
    text-decoration: underline;
}

.logo{
    color: white;
    font-size: x-large;
}

.navbar-dark{
    color: white;
}

/*Contact */
.display-4
{
    font-size: 30px;
    font-weight: 350;
}


.contacts
{
    background:#ff7626;
}




/*Index Specific -----------------------------------------------------------*/

.index-con
{
    width:80%
}

/*Main Image */
#Welcome-Image
{
    width:100%;
    height:90vh;
    background: url("images/Main/Main-Image_0.jpg")center center;
    
}

/*Title Section */
.title-section
{
    margin-bottom: 3%;
}

.title-text h1
{
    font-size: 60px;
}

.title-box
{
    padding-top: 4%;
}

.learn-btn
{
    height:50px;
    width:130px;
    font-size: 18px;
    border:solid 2px #ff7626;
    background: #ff7626;
    font-weight:700;
    padding-top: 10px;
    text-align: center;
    color: white;
}

/*Map Graphic and Features */

    /*Map Graphic */

    /*Features */
.features
{
    background: #ff7626;
    padding-top:4%;
    padding-bottom:8%;
}

.features-box
{
    color:#fafafa;
    font-size: 20px;
    margin-top:10%;
    margin-left:5%;
    margin-right:20%;
}

.feature-heading
{
    font-size: 25px;
    padding-bottom: 4px;
    border-bottom: solid 4px;
    margin-right: 250px;
    
}

.feature-text
{
    margin-bottom: 5%;
}

/*History */

.history-section
{
    margin-top:4%;
    margin-bottom:4%;
}
.history
{
    margin-top: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
.history p
{
    padding-top:20px;
    font-size:20px;
}
.image-box
{
    height:800px;
    width:70%;
    background: url(images/index/HistoryImage.jpg)center center;
    background-size: cover; 
}
/*Trek links */

.trek-links
{
    padding-top:8vh;
    padding-bottom: 8vh;
    background: grey;  
}

.trek-btns{
    height:30rem;
    margin:2%;
}

#castle-trek-link
{
    background: url(images/index/CastleTrekImage_base1.jpg)center center no-repeat;
    background-size: cover;
    transition: all .2s ease-in-out;
    
}

#forest-trek-link
{
    background: url(images/index/ForestTrekImage_base1.jpg)center center no-repeat;
    background-size: cover;
    transition: all .2s ease-in-out;

}

#river-trek-link
{
    background: url(images/index/RiverTrekImage_base1.jpg)center center no-repeat;
    background-size:cover;
    transition: all .2s ease-in-out;
}

#castle-trek-link:hover
{
    background: url(images/index/CastleTrekImage.jpg)center center no-repeat;
    background-size: cover;
    transform: scale(1.1);
}

#forest-trek-link:hover
{
    background: url(images/index/ForestTrekImage.jpg)center center no-repeat;
    background-size: cover;
    transform: scale(1.1);
}

#river-trek-link:hover
{
    background: url(images/index/RiverTrekImage.jpg)center center no-repeat;
    background-size:cover;
    transform: scale(1.1);
}

/*Testimonial */
#quoteImage
{
    background: url(images/index/quoteImage.jpg)center center;
    width: 100%;
    background-size:cover
}

.quoteText
{
    color:#fafafa;
}

.quoteName
{
    color:#c4cfcc;
}

.testimonials
{
    position:relative;
    padding-top:40px;
    padding-bottom: 40px;
}

.testimonial-box
{
    position:relative;
    padding-top:8%;
    padding-bottom: 8%;
}

.quote-box
{
    padding-right:10%;
    padding-left:10%;
}




/*Trek Specific -----------------------------------------------------------*/

.space
{
    height:43vh;
}

.active-trek
{
    height:50px;
    width:50%;
    background: #ff7626;
    color:white;
    border-radius: 0;
    font-size: 1.5vw;
}


.location-box
{
    font-size: 20px;
    padding:40px;
    width:100%;
    height:33vh;
    color:#fafafa;
}

.location-box-right
{
    float:right;
    padding-right:600px;
}

.location-box-left
{
    float:right;
    padding-left:600px;
}

.loc-text
{
    background:#ff7626;
    padding:30px;
    box-shadow: grey 10px 10px;
}



#cawdorCastle
{
    background: url(images/trek/castle1.jpg)center center;
    background-size:cover;
}

#eilenCastle
{
   background: url(images/trek/castle3.jpg)center center;
    background-size:cover;
}

#urquhartCastle
{
    background: url(images/trek/castle2.jpg)center center;
    background-size:cover; 
}

#cawdorForest
{
    background: url(images/trek/forest1.jpg)center center;
    background-size: cover; 
}

#culbenForest
{
    background: url(images/trek/forest2.jpg)center center;
    background-size: cover;
}

#religForest
{
    background:url(images/trek/forest3.jpg)center center;
    background-size: cover;
}

#speyRiver
{
    background:url(images/trek/river1.jpg)center center;
    background-size:cover;
}

#nessRiver
{
    background:url(images/trek/river2.jpg)center center;
    background-size:cover;
}

#coeRiver
{
    background:url(images/trek/river3.jpg)center -190px;
    background-size:cover;
}


/*Book Specific -----------------------------------------------------------*/

/*Trek Buttons */
.trek-book-buttons
{
    margin-top:8%
}

.btn-trek-book
{
    height:5rem;
    width:500px;
    border-radius:0px;
    padding-left:20px;
    text-align: left;
    font-size:20px;
    font-weight:bold;
    background: grey;
    color:#fafafa;
}

/*Form */

.book-btn-book
{
    height:60px;
    width:170px;
    border-radius:50px;
    font-size:23px; 
    background: #ff7626;
    border: #ff7626;
    color: white;
}
/*Book page Contacts */

.book-contacts
{
    height: 70vh
}

#bookCastleBtn
{
    background: url(images/book/castleBtn_dark.jpg)center center;
    background-size:cover;
}

#bookForestBtn
{
    background: url(images/book/forestBtn_dark.jpg)center center;
    background-size:cover;
}

#bookRiverBtn
{
    background: url(images/book/riverBtn_dark.jpg)center center;
    background-size:cover;
}

#bookCastleBtn:hover
{
    background: url(images/book/castleBtn.jpg)center center;
    background-size:cover;
}

#bookForestBtn:hover
{
    background: url(images/book/forestBtn.jpg)center center;
    background-size:cover;
}

#bookRiverBtn:hover
{
    background: url(images/book/riverBtn.jpg)center center;
    background-size:cover;
}

/*Media Queries*/

@media (max-width: 750px ) {

    .index-con{
        width:70%;
    }

    /*Trek Media Queries*/
    #Welcome-Image{
        background-size: cover;
    }
    
    .title-text h1{
        font-size: 250%;
    }
    .history{
        margin-top:10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .image-box{
        width:100%;
        height:600px;
        background: url(images/index/HistoryImage.jpg)-490px center;
        background-size: cover;
    }

    /*Book Media Queries*/
    .btn-trek-book{
        width:300px;
    }
    .trek-book-buttons{
        margin-bottom: 40px;
    }

    .book-form-title{
        font-size: 20px;
    }

    .book-text{
        font-size: 20px;
    }
    .book-contacts{
        height:80vh;
    }
}

@media (max-width:970px ){
    .trek-btns{
        margin-top: 20px;
    }
}


